@page "/"


<h1>Hello, world!</h1>

<button class="btn btn-primary" @onclick="StopService">Stop Service</button>
<h3>@Message</h3>

@code
{
    string Message = string.Empty;

    void StopService()
    {
#if ANDROID
    DBC.Platforms.Android.AndroidServiceManager.StopMyService();
    Message = "Service is stopped";
#endif
    }

    protected override void OnInitialized()
    {
#if ANDROID
    if (!DBC.Platforms.Android.AndroidServiceManager.IsRunning)
    {
    DBC.Platforms.Android.AndroidServiceManager.StartMyService();
    Message = "Service has started";
    }
    else{
    Message = "Service is running";
    }
#endif
    }
}